.teamlist-container {
  padding: 10px;
  background-color: var(--primary-bg);
  height: 100%;
  overflow-y: auto;
}

.back-to-teams-link {
  color: #000;
  text-decoration: none;
  padding: 5px;
  display: block;
}

.back-to-teams-link:hover {
  color: gray;
  transition: color 0.4s ease;
}

.teamlist-link {
  display: flex;
  color: #000;
  text-decoration: none;
  padding: 10px 5px;
  border-radius: 10px;
  align-items: center;
}

.teamlist-link.current-team {
  background-color: #fff;
  font-weight: 600;
}

.teamlist-link.current-team:hover {
  background-color: #fff;
  font-weight: 600;
}

.teamlist-link:hover {
  color: #000;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.team-list-coverphoto {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 15px;
}
