.my-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-btn {
  background-color: #212529;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 0;
}

.my-dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
  top: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.my-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.my-dropdown-content > *:hover {
  background-color: #f1f1f1;
}
