.layout {
  position: relative;
  display: flex;
  flex-direction: row;
  height: calc(100% - 56px);
}

.list-selection {
  display: flex;
  flex-direction: column;
  width: 80px;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #212529;
  height: 100%;
  text-align: center;
}

.btn-list-selection {
  margin-top: 25px;
}

.btn-list-selection .btn-default {
  width: 60px;
  height: 60px;
  border-style: none;
  border-radius: 15px;
  background-color: #31363b;
  color: white;
}

.btn-list-selection .btn-default:hover {
  background-color: rgba(207, 209, 211, 0.212);
}

.btn-list-selection .btn-active button {
  width: 60px;
  height: 60px;
  border-style: none;
  border-radius: 15px;
  background-color: #4e6379;
  color: white;
}

.user-list-selection {
  margin-bottom: 100px;
}

.user-list-selection .btn-user {
  width: 60px;
  height: 60px;
  border-style: none;
  border-radius: 50%;
  background-color: #212529;
  color: white;
}

.user-list-selection .btn-user:hover {
  background-color: #e9e9e91c;
}
