.team-header {
  display: flex;
  padding: 5px;
  border-bottom: 1px solid var(--gray-shadow);
  flex-direction: row;
  justify-content: space-between;
  background-color: #f8f7f7;
}

.team-header .team-header-coverphoto {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.team-header .meeting-btn {
  border: 1px solid gray;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #fff;
}

.team-header .meeting-btn:hover {
  background-color: rgb(238, 234, 234);
  transition: background-color 0.4s ease;
}

.team-header .dropdown-content {
  transform: translate(-50px, 5px);
}

.team-header .fa-question-circle {
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.team-header .fa-question-circle:hover {
  background-color: gray;
  color: #fff;
  border-radius: 50%;
  transition: background-color 0.4s ease;
}

.join-meeting-btn {
  color: #fff;
  margin-right: 20px;
}

.join-meeting-btn a {
  color: #fff;
}

.join-meeting-btn a:hover {
  color: #fff !important;
}
