.friend-chat-list {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 250px;
    width: 20%;
    height: 100%;
    background-color: #f0f0f0;
    box-shadow: 2px 2px 1px #dadcdf;
}

.friend-chat {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}

.friend-chat:hover {
    background-color: #ffffff;
}

.friend-chat-content {
    width: 80%;
    background-color: #ccdbeb;
}

