.notfound-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.notfound-page > h1 {
  font-size: 10rem;
  color: var(--primary-color);
}

.notfound-page > h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.notfound-page a {
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  background-color: var(--primary-color);
  text-decoration: none;
}

.notfound-page a:hover {
  background-color: var(--primary-color);
  transition: background-color 0.2s ease;
}
