.setting-user-list {
  overflow-y: auto;
  max-height: 450px;
  min-width: 600px;
  /* width: 60%; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

.setting-user-item {
  display: flex;
  /* width: 500px; */
  min-width: 300px;
  align-items: center;
  justify-content: space-between;
}

.setting-user-item > div {
  display: flex;
  align-items: center;
}

.setting-user-item > div > span {
  margin-left: 20px;
}

.team-general-setting label {
  color: var(--text-color);
}

.team-general-setting input {
  color: var(--text-color);
}
