.navbar {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: var(--primary-color);
  z-index: 10;
}

.navbar .nav-brand {
  color: white;
  text-decoration: none;
  font-size: 24px;
  margin-left: 30px;
}

.navbar-btn {
  display: flex;
  align-items: center;
}

.navbar-btn span {
  color: #fff;
}

.navbar-username {
  white-space: nowrap;
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}

.navbar .dropdown {
  position: relative;
  margin-right: 20px;
  display: flex;
  justify-content: center;
}

.navbar .dropdown-btn {
  background-color: #212529;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 0;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
  margin-top: 40px;
  border-radius: 5px;
  padding: 5px;
}

.navbar .dropdown-notification {
  max-height: 250px;
  overflow-y: scroll;
  min-width: 400px;
  transform: translateX(-50px);
}

.navbar .dropdown-notification .notification {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  border-radius: 10px;
}

.navbar .dropdown-notification .notification:hover {
  color: black;
  background-color: rgb(238, 235, 235);
  transition: background-color 0.3s ease;
}

.notification p {
  text-align: right;
  margin: 0;
}

.navbar .dropdown-content > a,
.navbar .dropdown-content > span {
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.navbar .dropdown > .dropdown-btn:focus + .dropdown-content {
  display: block;
}

.navbar .dropdown-content:hover {
  display: block;
}

.navbar .dropdown > .dropdown-btn:hover {
  background-color: #8f8c8c9a;
}

.navbar.nav-user-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar .notificationImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.navbar.loadingNotification {
  width: 36px;
  height: 36px;
  margin: auto;
  display: block;
}

/* .logout-container {
  padding: 15px 0;
} */

.navbar.logout-container > div {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.navbar.logout-container > div:hover {
  background-color: rgb(202, 202, 202);
  transition: background-color 0.3s ease;
}

.navbar.logout-container > div > a:hover {
  color: #000;
}

.notification-menu {
  max-height: 400px;
}

.notification-menu a {
  color: #000;
  text-decoration: none;
}

.notification-item:hover {
  background-color: gray;
}

.notification-content {
  max-width: 320px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}
