.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar .nav-brand {
  margin-left: 100px;
}

.navbar-btn {
  display: flex;
  align-items: center;
}

.navbar-username {
  white-space: nowrap;
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}

.dropdown {
  position: relative;
  margin-right: 20px;
  display: flex;
  justify-content: center;
}

.dropdown-btn {
  background-color: #212529;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
  margin-top: 40px;
  border-radius: 5px;
  padding: 5px;
}

.dropdown-notification {
  max-height: 250px;
  overflow-y: scroll;
  min-width: 400px;
  transform: translateX(-50px);
}

.dropdown-notification .notification {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  border-radius: 10px;
}

.dropdown-notification .notification:hover {
  color: black;
  background-color: rgb(238, 235, 235);
  transition: background-color 0.3s ease;
}

.dropdown-notification .notification span {
  width: 100%;
  text-align: right;
}

.dropdown-content > a,
span {
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown > .dropdown-btn:focus + .dropdown-content {
  display: block;
}

.dropdown-content:hover {
  display: block;
}

.dropdown > .dropdown-btn:hover {
  background-color: #8f8c8c9a;
}

.nav-user-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.notificationImg {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.loadingNotification {
  width: 36px;
  height: 36px;
  margin: auto;
  display: block;
}

/* .logout-container {
  padding: 15px 0;
} */

.logout-container > div {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.logout-container > div:hover {
  background-color: rgb(202, 202, 202);
  transition: background-color 0.3s ease;
}

.logout-container > div > a:hover {
  color: #000;
}
