.room-meeting {
    position: absolute;
    background-color: #202124;
    width: 100%;
    height: 100%;
}

.all-video {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
    height: 750px;
}

.tool-bar {
    position: relative;
    text-align: center;
    padding: 20px;
}