/* has been moved to layout => reuse */
/* .group-chat-list {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 250px;
    width: 20%;
    height: 100%;
    background-color: #f0f0f0;
    box-shadow: 2px 2px 1px #dadcdf;
    z-index: 5px;
} */

.teams-page {
  padding: 0 20px;
}

.group-chat {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
}

.group-chat:hover {
  background-color: #ffffff;
}

.group-chat-content {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 100%;
  background-color: aliceblue;
  position: relative;
  z-index: -5px;
}

.member-group {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  right: 0;
  background-color: #869bb1;
  width: 15%;
  height: 100%;
  min-width: 150px;
}

.teams-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.teams-header button {
  color: var(--text-color);
  background-color: var(--primary-bg);
  box-shadow: 0 0 1px 1px #dddddd;
}

.teams-header button:hover {
  /* background-color: #efeff0; */
}

.create-team-box {
  width: 250px;
  background-color: var(--primary-bg);
  box-shadow: 0 0 1px 1px var(--shadow-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 15px 0 25px 0;
  margin-left: 20px;
}

.create-team-empty-img {
  width: 70px;
  border-radius: 10px;
}

.create-team-box-user {
  width: 35px;
  margin: 0 5px;
}

.team-code-container {
  margin-bottom: 10px;
}

.team-code-container input {
  padding: 5px 15px;
  border-radius: 20px;
  border: none;
  font-size: 18px;
  outline: none;
  background-color: var(--primary-bg);
}

.invited-user-list {
  max-height: 300px;
  overflow-y: auto;
}

.invited-user-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
}

.invited-user-item:hover {
  background-color: var(--hover-bg-color);
}

.invited-user-item p {
  margin-bottom: 0;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
}

.team-item {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 1px 1px var(--shadow-color);
  height: 200px;
  margin: 0 5px;
  border-radius: 10px;
  margin-top: 10px;
  cursor: auto;
}

.team-item:hover {
  background-color: var(--hover-bg-color);
  transition: background-color 0.3s ease;
}

.team-item a {
  color: #000;
  text-decoration: none;
}

.team-item h5 {
  text-align: center;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: auto;
}

.team-item-image {
  width: 150px;
  height: 100px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.search-team-box {
  display: flex;
  align-items: center;
  position: relative;
}

.search-team-box > input {
  border-radius: 10px;
}

.search-team-box > i {
  position: absolute;
  right: 10px;
}

.search-team-box > div {
  position: relative;
}

.search-team-box .emoji-btn {
  position: absolute;
  bottom: 10px;
  right: 0;
  color: gray;
}

.search-team-box textarea {
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 30px 10px 24px;
  outline: none;
  border: none;
  resize: none;
  background-color: #f0f2f5;
  color: var(--text-color);
  border-radius: 20px;
}

.search-teams-form > div::before {
  border-bottom: 1px solid var(--text-color);
}

.search-teams-form > div:hover:before {
  border-bottom: 1px solid var(--text-color) !important;
}

.search-teams-form > div:focus:before {
  border-bottom: 1px solid var(--text-color) !important;
}

.create-team-dialog {
  background-color: var(--primary-bg);
}

.create-team-dialog label {
  color: var(--text-color) !important;
}

.create-team-dialog input {
  color: var(--text-color);
}

ul {
  background-color: var(--primary-bg);
}

.team-type-select div {
  color: var(--text-color) !important;
}
