/* has been moved to layout => reuse */
/* .group-chat-list {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 250px;
    width: 20%;
    height: 100%;
    background-color: #f0f0f0;
    box-shadow: 2px 2px 1px #dadcdf;
    z-index: 5px;
} */

.group-chat {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
}

.group-chat:hover {
  background-color: #ffffff;
}

.group-chat-content {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 100%;
  background-color: aliceblue;
  position: relative;
  z-index: -5px;
}

.member-group {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  right: 0;
  background-color: #869bb1;
  width: 15%;
  height: 100%;
  min-width: 150px;
}

.teams-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.teams-header button {
  background-color: #fff;
  box-shadow: 0 0 1px 1px #dddddd;
}

.teams-header button:hover {
  background-color: #efeff0;
}

.create-team-box {
  max-width: 250px;
  background-color: #fff;
  box-shadow: 0 0 1px 1px #dddddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 15px 0 25px 0;
}

.create-team-empty-img {
  width: 70px;
  border-radius: 10px;
}

.create-team-box-user {
  width: 35px;
  margin: 0 5px;
  color: rgb(36, 36, 36);
}

.invited-user-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
}

.invited-user-item:hover {
  background-color: #e3e4e6;
}

.invited-user-item img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.invited-user-item p {
  margin-bottom: 0;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  width: 250px;
  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 1px 1px var(--gray-shadow);
  height: 200px;
  margin: 0 5px;
  border-radius: 10px;
  margin-top: 10px;
}

.team-item:hover {
  color: #000;
  background-color: rgb(240, 238, 238);
  transition: background-color 0.3s ease;
}

.team-item-image {
  width: 150px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.search-team-box {
  display: flex;
  align-items: center;
  position: relative;
}

.search-team-box > input {
  border-radius: 10px;
}

.search-team-box > i {
  position: absolute;
  right: 10px;
}
