.team-header {
  display: flex;
  padding: 5px;
  border-bottom: 1px solid var(--gray-shadow);
  flex-direction: row;
  justify-content: space-between;
}

.team-header .team-header-coverphoto {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.team-header .meeting-btn {
  border: 1px solid gray;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #fff;
}

.team-header .meeting-btn:hover {
  background-color: rgb(238, 234, 234);
  transition: background-color 0.4s ease;
}
