.own-message {
  display: flex;
  justify-content: flex-end;
}

.own-message > p {
  max-width: 300px;
  border-radius: 10px;
  padding: 5px 7px;
  background-color: #97b2e4;
  color: white;
  margin-bottom: 5px;
  word-break: break-all;
}

.message {
  display: flex;
}

.message > p {
  max-width: 150px;
  border-radius: 10px;
  padding: 5px 7px;
  background-color: #aaadb6;
  color: white;
  margin-bottom: 5px;
  margin-left: 36px;
  word-break: break-all;
}

.message > p.user-last-message {
  margin-left: 6px;
  margin-bottom: 15px;
}

.last-message {
  margin-bottom: 10px;
}
