.own-message {
  display: flex;
  justify-content: flex-end;
}

.own-message > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.own-message > div > p {
  max-width: 400px;
  border-radius: 10px;
  padding: 5px 7px;
  background-color: var(--primary-color);
  color: white;
  margin-bottom: 5px;
  word-break: break-all;
}

.message {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.message > div {
  display: flex;
}

.message > div > p {
  max-width: 400px;
  border-radius: 10px;
  padding: 5px 7px;
  background-color: #aaadb6;
  color: white;
  margin-bottom: 5px;
  margin-left: 45px;
  word-break: break-all;
}

.message-with-photo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message-with-photo > div {
  margin-left: 45px;
}

.message-with-photo > div.photo-last-message {
  margin-left: 6px;
  margin-bottom: 6px;
}

.last-message > .message-with-photo > p {
  margin-left: 6px;
  margin-bottom: 6px;
}

.message-with-photo > p {
  margin-left: 6px;
  margin-bottom: 6px;
}

.message > div > p.user-last-message {
  margin-left: 6px;
  margin-bottom: 6px;
}

.message-photo {
  width: 250px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.avatar-message {
  position: relative;
  bottom: 5px;
}

/* .last-message {
  margin-bottom: 10px;
} */

.imageExpandModal {
  position: fixed; /* Stay in place */
  z-index: 20; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.expand-modal-content {
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  max-width: 1000px;
  height: 80%;
  max-height: 600px;
}

.expand-modal-content {
  -webkit-animation-name: expand-image;
  -webkit-animation-duration: 0.5s;
  animation-name: expand-image;
  animation-duration: 0.5s;
}

.close-expand-image {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close-expand-image:hover,
.close-expand-image:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes expand-image {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes expand-image {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
