.own-message {
  display: flex;
  justify-content: flex-end;
}

.own-message > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.own-message > div > p {
  max-width: 300px;
  border-radius: 10px;
  padding: 5px 7px;
  background-color: #97b2e4;
  color: white;
  margin-bottom: 5px;
  word-break: break-all;
}

.message {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.message > div {
  display: flex;
}

.message > div > p {
  max-width: 150px;
  border-radius: 10px;
  padding: 5px 7px;
  background-color: #aaadb6;
  color: white;
  margin-bottom: 5px;
  margin-left: 36px;
  word-break: break-all;
}

.message-with-photo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message-with-photo > div {
  margin-left: 36px;
}

.message-with-photo > div.photo-last-message {
  margin-left: 6px;
}

.last-message > .message-with-photo > p {
  margin-left: 6px;
}

.message-with-photo > p {
  margin-left: 6px;
}

.message > div > p.user-last-message {
  margin-left: 6px;
}

.message-photo {
  width: 250px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 5px;
}

.avatar-message {
  position: relative;
  bottom: 5px;
}

/* .last-message {
  margin-bottom: 10px;
} */
