:root {
  /* --main-color: linear-gradient(to right, #0d6efd 0%, #031633 100%); */
  --gray-shadow: rgb(199, 196, 196);
  --primary-bg: rgb(240, 240, 240);
  --primary-color: #1962a7;
}

.App {
  position: relative;
}

.video-list {
  display: flex;
}

.otherLogin > * {
  margin-right: 20px;
}

.loginPage {
  background: var(--main-color);
}

button:disabled {
  cursor: not-allowed;
}

.btn:disabled {
  pointer-events: all;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(185, 184, 184);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
  cursor: pointer;
}
