.room-call {
  background: var(--bg-meeting-color);
  font-family: "Roboto", arial, sans-serif;
  font-size: 12px;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.room-call .video-content {
  display: flex;
  position: relative;
  height: 90vh;
}

.video-content .video-content-user {
  width: 200px;
  margin-left: 20px;
}

.room-call .user-video video {
  position: absolute;
  top: 0;
}

.room-call .part-video video {
  position: absolute;
  top: 0;
}

.video-content .video-content-part {
  width: calc(100vw - 200px);
  display: flex;
  justify-content: center;
}

.room-call .room-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-btn button {
  color: #fff;
  margin: 15px;
  border: 1px solid #fff;
  font-size: 16px;
  width: 42px;
  height: 42px;
}

.room-call .user-video {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  position: absolute;
  background-color: var(--video-color);
  border-radius: 15px;
  bottom: 0px;
}

.room-call .my-share-screen {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  position: absolute;
  background-color: var(--video-color);
  border-radius: 15px;
  bottom: 230px;
}

.room-call .part-video {
  width: 85%;
  height: 100%;
  min-width: 500px;
  min-height: 500px;
  position: relative;
  background-color: var(--video-color);
  border-radius: 15px;
}

.part-video .video-name {
  font-size: 22px;
}

.part-video .waiting-join {
  font-size: 22px;
  color: #fff;
  z-index: 2;
  position: absolute;
  top: calc(100% / 2 + 70px);
  left: calc(100% / 2 - 60px);
}

.room-call .video-avatar {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
  background-color: var(--video-color);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-call .video-bottom {
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  z-index: 2;
}

.video-bottom svg {
  font-size: 22px;
}
