.room-call {
  background: var(--bg-meeting-color);
  font-family: "Roboto", arial, sans-serif;
  font-size: 12px;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.room-call .video-content {
  display: flex;
  position: relative;
  height: 95vh;
}

.video-content .video-content-user {
  width: 200px;
}

.video-content .video-content-part {
  width: calc(100vw - 200px);
  display: flex;
  justify-content: center;
}

.room-call .room-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-btn button {
  color: #fff;
  margin: 15px;
  border: 1px solid #fff;
  font-size: 16px;
  width: 42px;
  height: 42px;
}

.room-call .user-video {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  position: absolute;
  background-color: var(--video-color);
  border-radius: 15px;
  bottom: 0px;
}

.room-call .video-bottom {
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}

.video-bottom svg {
  font-size: 22px;
}


.user-video .video-avatar {
  width: 80px;
  height: 80px;
  z-index: 10;
  position: absolute;
  top: 60px;
  left: 60px;
}

.room-call .part-video {
  width: 85%;
  height: 100%;
  min-width: 500px;
  min-height: 500px;
  position: relative;
  background-color: var(--video-color);
  border-radius: 15px;
}

.part-video .video-name {
  font-size: 22px;
}

.part-video .video-avatar {
  z-index: 10;
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: calc(100% / 2 - 40px);
  left: calc(100% / 2 - 40px);
}
